.container {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 50px auto;
    justify-content: space-between;
    align-items: center;
    min-height: 500px;
    /* max-height: 1000vh; */
    padding: 50px 20px;
    border-radius: 25px;
    box-shadow: 5px 5px 10px rgb(120, 111, 111);
    background: rgb(247, 217, 231);
    /* background: linear-gradient(90deg, rgb(255, 240, 247) 0%, rgb(255, 211, 221) 100%); */
}

.container section{
    display: flex;
    padding: 30px 20px;
    align-items: center;
    gap: 30px;
}

.container section p{
    text-align: left;
    font-size: 25px;
    transition: 0.3s all;
    
}

.container section p:hover{
    transform: scale(1.05);
    color: #ff2a95;
}

.container section img{
    width: 500px;
    height: 400px;   
    transition: 0.3s all;
}

.container section img:hover{
    transform: scale(1.1);
}

.button {
    display: block;
    width: 200px;
    margin-top: 20px;
    padding: 10px;
    background: linear-gradient(90deg, #FFA835 -3.85%, #fc60ae 97.3%);
    border: 3px solid #fa3ad0;
    border-radius: 10px;
    outline: none;
    box-shadow: 5px 5px 8px rgb(93, 93, 93);
    font-size: 18px;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    color: rgb(0, 0, 0);
    transition: 0.3s all;
    letter-spacing: 2px;
    text-decoration: none;
    text-align: center;
}

.button:hover {
    border: 3px solid rgb(255, 200, 229);
    background: linear-gradient(90deg, #cb780c -3.85%, #ff2a95 97.3%);
    color: white;
    box-shadow: 0 0 10px rgb(87, 87, 87);
    letter-spacing: 10px;
}