.main{
    width: 100%;
}

table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    border-left: 1.5px solid #000000;
    border-right: 1.5px solid #000000;
    text-align: center;
  }
  
  th {
    background-color: #25292e;
    padding: 14px;
    color: white;
    border-left: 1.5px solid #ffffff;
    border-right: 1.5px solid #ffffff;
  }

  td{
    padding: 20px;
    box-shadow: 0 4px 2px -2px #000000;
  }